In [46]:
import pandas as pd
import numpy as np
import sys

In [47]:
df= pd.read_csv('munnar.csv')
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [49]:
print(df.columns)
print(df.shape)

Index(['Hotel Name\t\t\t\t\t\t\t\t\t', 'Rating', 'Rating Description',
       'Reviews', 'Star Rating', 'Location', 'Nearest Landmark',
       'Distance to Landmark', 'Price', 'Tax'],
      dtype='object')
(74, 10)

In [53]:
df.info()
print(sys.getsizeof(df))
print(df.index)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Hotel Name									   74 non-null     object
 1   Rating                74 non-null     float64
 2   Rating Description    74 non-null     object
 3   Reviews               74 non-null     int64
 4   Star Rating           57 non-null     float64
 5   Location              74 non-null     object
 6   Nearest Landmark      74 non-null     object
 7   Distance to Landmark  74 non-null     object
 8   Price                 74 non-null     object
 9   Tax                   72 non-null     object
dtypes: float64(2), int64(1), object(7)
memory usage: 5.9+ KB
36974
RangeIndex(start=0, stop=74, step=1)

In [54]:
print(df.head(3))

  Hotel Name\t\t\t\t\t\t\t\t\t  Rating Rating Description  Reviews  \
0                 Gokulam Park     4.1          Very Good     1058
1              Sterling Munnar     3.8          Very Good     1088
2             Issacs Residency     4.1          Very Good      322

   Star Rating         Location    Nearest Landmark Distance to Landmark  \
0          4.0   Chithirapuram          city centre             10.2 km
1          4.0     Chinnakanal          city centre             19.2 km
2          3.0  Central Munnar   Attukal Waterfalls               950 m

   Price  Tax
0  2,728  574
1  4,451  969
2  2,758  684

In [10]:
df.rename(columns= {'Hotel Name\t\t\t\t\t\t\t\t\t': 'Hotel Name'}, inplace = True)
print(df.columns)
print(df.head())

Index(['Hotel Name', 'Rating', 'Rating Description', 'Reviews', 'Star Rating',
       'Location', 'Nearest Landmark', 'Distance to Landmark', 'Price', 'Tax'],
      dtype='object')
          Hotel Name  Rating Rating Description  Reviews  Star Rating  \
0       Gokulam Park     4.1          Very Good     1058          4.0
1    Sterling Munnar     3.8          Very Good     1088          4.0
2   Issacs Residency     4.1          Very Good      322          3.0
3  Tea Valley Resort     4.3          Excellent     1337          4.0
4        Grand Plaza     4.3          Excellent     1058          4.0

          Location    Nearest Landmark Distance to Landmark  Price  Tax
0   Chithirapuram          city centre             10.2 km   2,728  574
1     Chinnakanal          city centre             19.2 km   4,451  969
2  Central Munnar   Attukal Waterfalls               950 m   2,758  684
3      Pallivasal          city centre              4.8 km   2,675  756
4      Moolakadai   Attukal Waterfalls              1.9 km   3,203  654

In [11]:
df.index = df['Hotel Name']

In [12]:
print(df.iloc[0])

Hotel Name                Gokulam Park
Rating                             4.1
Rating Description           Very Good
Reviews                           1058
Star Rating                        4.0
Location                Chithirapuram
Nearest Landmark           city centre
Distance to Landmark          10.2 km
Price                            2,728
Tax                                574
Name: Gokulam Park, dtype: object

In [13]:
print(df.head(2))
df.reset_index(inplace= True, drop=True)
df

                      Hotel Name  Rating Rating Description  Reviews  \
Hotel Name
Gokulam Park        Gokulam Park     4.1          Very Good     1058
Sterling Munnar  Sterling Munnar     3.8          Very Good     1088

                 Star Rating        Location Nearest Landmark  \
Hotel Name
Gokulam Park             4.0  Chithirapuram       city centre
Sterling Munnar          4.0    Chinnakanal       city centre

                Distance to Landmark  Price  Tax
Hotel Name
Gokulam Park                10.2 km   2,728  574
Sterling Munnar             19.2 km   4,451  969

,Hotel Name,Rating,Rating Description,Reviews,Star Rating,Location,Nearest Landmark,Distance to Landmark,Price,Tax
0,Gokulam Park,4.1,Very Good,1058,4.0,Chithirapuram,city centre,10.2 km,"2,728",574
1,Sterling Munnar,3.8,Very Good,1088,4.0,Chinnakanal,city centre,19.2 km,"4,451",969
2,Issacs Residency,4.1,Very Good,322,3.0,Central Munnar,Attukal Waterfalls,950 m,"2,758",684
3,Tea Valley Resort,4.3,Excellent,1337,4.0,Pallivasal,city centre,4.8 km,"2,675",756
4,Grand Plaza,4.3,Excellent,1058,4.0,Moolakadai,Attukal Waterfalls,1.9 km,"3,203",654
...,...,...,...,...,...,...,...,...,...,...
69,The Fog Munnar (Resort & Spa),4.5,Excellent,292,5.0,Ettycity Road,city centre,13.2 km,"8,103","2,178"
70,Skylark Holidays | Rooms & Caretaker,4.1,Very Good,17,NaN,Chinnakanal,city centre,20.6 km,"3,317",684
71,Deshadan Mountain Resort- The highest resort i...,4.3,Excellent,395,4.0,Pallivasal,city centre,5.8 km,"3,953",808
72,Nature Zone Jungle Resort,4.1,Very Good,187,4.0,Pallivasal,city centre,6.6 km,"6,862","2,124"
73,Lumino Highrange Homestay | Room & Guided Treks,3.2,Good,221,NaN,Moolakadai,Attukal Waterfalls,1.3 km,"1,014",223

In [14]:
from timeit import default_timer as timer
start = timer()
df.info()
print(timer() - start)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Hotel Name            74 non-null     object
 1   Rating                74 non-null     float64
 2   Rating Description    74 non-null     object
 3   Reviews               74 non-null     int64
 4   Star Rating           57 non-null     float64
 5   Location              74 non-null     object
 6   Nearest Landmark      74 non-null     object
 7   Distance to Landmark  74 non-null     object
 8   Price                 74 non-null     object
 9   Tax                   72 non-null     object
dtypes: float64(2), int64(1), object(7)
memory usage: 5.9+ KB
0.012050792000081856

In [15]:
df.nunique()

Hotel Name              74
Rating                  18
Rating Description       4
Reviews                 70
Star Rating              4
Location                22
Nearest Landmark         2
Distance to Landmark    57
Price                   72
Tax                     70
dtype: int64

In [19]:
start = timer()
df['Star Rating'].isna().sum()
print(timer() - start)

0.0009425700000065262

In [23]:
df['Tax'].astype('float64')

0      574.0
1      969.0
2      684.0
3      756.0
4      654.0
       ...
69    2178.0
70     684.0
71     808.0
72    2124.0
73     223.0
Name: Tax, Length: 74, dtype: float64

In [22]:
print(type(df['Tax'].iloc[0]))
df['Tax'] = df['Tax'].apply(lambda x: str(x))
df['Tax']= df['Tax'].apply(lambda x: x.replace(",", ""))
df['Tax'] = df['Tax'].astype('float64')
df['Tax']

<class 'numpy.float64'>

0      574.0
1      969.0
2      684.0
3      756.0
4      654.0
       ...
69    2178.0
70     684.0
71     808.0
72    2124.0
73     223.0
Name: Tax, Length: 74, dtype: float64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Hotel Name            74 non-null     object
 1   Rating                74 non-null     float64
 2   Rating Description    74 non-null     object
 3   Reviews               74 non-null     int64
 4   Star Rating           57 non-null     float64
 5   Location              74 non-null     object
 6   Nearest Landmark      74 non-null     object
 7   Distance to Landmark  74 non-null     object
 8   Price                 74 non-null     object
 9   Tax                   72 non-null     float64
dtypes: float64(3), int64(1), object(6)
memory usage: 5.9+ KB

In [27]:
df['Price'].astype('float64')

0     2728.0
1     4451.0
2     2758.0
3     2675.0
4     3203.0
       ...
69    8103.0
70    3317.0
71    3953.0
72    6862.0
73    1014.0
Name: Price, Length: 74, dtype: float64

In [26]:
df['Price'] = df['Price'].apply(lambda x: str(x))
df['Price']= df['Price'].apply(lambda x: x.replace(",", ""))
df['Price'] = df['Price'].astype('float64')
df['Price']

0     2728.0
1     4451.0
2     2758.0
3     2675.0
4     3203.0
       ...
69    8103.0
70    3317.0
71    3953.0
72    6862.0
73    1014.0
Name: Price, Length: 74, dtype: float64

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Hotel Name            74 non-null     object
 1   Rating                74 non-null     float64
 2   Rating Description    74 non-null     object
 3   Reviews               74 non-null     int64
 4   Star Rating           57 non-null     float64
 5   Location              74 non-null     object
 6   Nearest Landmark      74 non-null     object
 7   Distance to Landmark  74 non-null     object
 8   Price                 74 non-null     float64
 9   Tax                   72 non-null     float64
dtypes: float64(4), int64(1), object(5)
memory usage: 5.9+ KB

In [31]:
df['Distance to Landmark'].astype('float64')

0     10.20
1     19.20
2      0.95
3      4.80
4      1.90
      ...
69    13.20
70    20.60
71     5.80
72     6.60
73     1.30
Name: Distance to Landmark, Length: 74, dtype: float64

In [30]:
def get_dist_in_km(x):
    if x.split()[1] == 'm':
        return float(x.split()[0])/1000
    elif x.split()[1] == 'km':
        return x.split()[0]

df['Distance to Landmark'] = df['Distance to Landmark'].apply(get_dist_in_km)

In [32]:
df

,Hotel Name,Rating,Rating Description,Reviews,Star Rating,Location,Nearest Landmark,Distance to Landmark,Price,Tax
0,Gokulam Park,4.1,Very Good,1058,4.0,Chithirapuram,city centre,10.2,2728.0,574.0
1,Sterling Munnar,3.8,Very Good,1088,4.0,Chinnakanal,city centre,19.2,4451.0,969.0
2,Issacs Residency,4.1,Very Good,322,3.0,Central Munnar,Attukal Waterfalls,0.95,2758.0,684.0
3,Tea Valley Resort,4.3,Excellent,1337,4.0,Pallivasal,city centre,4.8,2675.0,756.0
4,Grand Plaza,4.3,Excellent,1058,4.0,Moolakadai,Attukal Waterfalls,1.9,3203.0,654.0
...,...,...,...,...,...,...,...,...,...,...
69,The Fog Munnar (Resort & Spa),4.5,Excellent,292,5.0,Ettycity Road,city centre,13.2,8103.0,2178.0
70,Skylark Holidays | Rooms & Caretaker,4.1,Very Good,17,NaN,Chinnakanal,city centre,20.6,3317.0,684.0
71,Deshadan Mountain Resort- The highest resort i...,4.3,Excellent,395,4.0,Pallivasal,city centre,5.8,3953.0,808.0
72,Nature Zone Jungle Resort,4.1,Very Good,187,4.0,Pallivasal,city centre,6.6,6862.0,2124.0
73,Lumino Highrange Homestay | Room & Guided Treks,3.2,Good,221,NaN,Moolakadai,Attukal Waterfalls,1.3,1014.0,223.0

In [33]:
df['Distance to Landmark']= df['Distance to Landmark'].astype('float64')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Hotel Name            74 non-null     object
 1   Rating                74 non-null     float64
 2   Rating Description    74 non-null     object
 3   Reviews               74 non-null     int64
 4   Star Rating           57 non-null     float64
 5   Location              74 non-null     object
 6   Nearest Landmark      74 non-null     object
 7   Distance to Landmark  74 non-null     float64
 8   Price                 74 non-null     float64
 9   Tax                   72 non-null     float64
dtypes: float64(5), int64(1), object(4)
memory usage: 5.9+ KB

In [34]:
from timeit import default_timer as timer
a= timer()
for i in df.columns:
    print(i + " n-uniques is", len(df[i].unique()))
print("time taken for loop", timer()- a)

Hotel Name n-uniques is 74
Rating n-uniques is 18
Rating Description n-uniques is 4
Reviews n-uniques is 70
Star Rating n-uniques is 5
Location n-uniques is 22
Nearest Landmark n-uniques is 2
Distance to Landmark n-uniques is 57
Price n-uniques is 72
Tax n-uniques is 71
time taken for loop 0.00417851200018049

In [35]:
a= timer()
print(df.nunique())
print("time taken no loop", timer()- a)

Hotel Name              74
Rating                  18
Rating Description       4
Reviews                 70
Star Rating              4
Location                22
Nearest Landmark         2
Distance to Landmark    57
Price                   72
Tax                     70
dtype: int64
time taken no loop 0.0066234040000381356

In [36]:
df['Nearest Landmark']

0            city centre
1            city centre
2     Attukal Waterfalls
3            city centre
4     Attukal Waterfalls
             ...
69           city centre
70           city centre
71           city centre
72           city centre
73    Attukal Waterfalls
Name: Nearest Landmark, Length: 74, dtype: object

In [37]:
df['Star Rating'].fillna(df['Star Rating'].value_counts().index[0], inplace = True)
df['Star Rating']= df['Star Rating'].astype('int8')
df['Star Rating']

0     4
1     4
2     3
3     4
4     4
     ..
69    5
70    4
71    4
72    4
73    4
Name: Star Rating, Length: 74, dtype: int8

In [38]:
df['Star Rating'].value_counts()

4    40
3    18
5    15
2     1
Name: Star Rating, dtype: int64

In [39]:
sys.getsizeof(df)

24451

In [40]:
df['Rating Description'].value_counts()

Very Good    43
Excellent    25
Good          5
Average       1
Name: Rating Description, dtype: int64

In [41]:
df['Reviews']

0     1058
1     1088
2      322
3     1337
4     1058
      ...
69     292
70      17
71     395
72     187
73     221
Name: Reviews, Length: 74, dtype: int64

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Hotel Name            74 non-null     object
 1   Rating                74 non-null     float64
 2   Rating Description    74 non-null     object
 3   Reviews               74 non-null     int64
 4   Star Rating           74 non-null     int8
 5   Location              74 non-null     object
 6   Nearest Landmark      74 non-null     object
 7   Distance to Landmark  74 non-null     float64
 8   Price                 74 non-null     float64
 9   Tax                   72 non-null     float64
dtypes: float64(4), int64(1), int8(1), object(4)
memory usage: 5.4+ KB

In [43]:
df['Tax'].fillna(df['Tax'].median(), inplace =True)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Hotel Name            74 non-null     object
 1   Rating                74 non-null     float64
 2   Rating Description    74 non-null     object
 3   Reviews               74 non-null     int64
 4   Star Rating           74 non-null     int8
 5   Location              74 non-null     object
 6   Nearest Landmark      74 non-null     object
 7   Distance to Landmark  74 non-null     float64
 8   Price                 74 non-null     float64
 9   Tax                   74 non-null     float64
dtypes: float64(4), int64(1), int8(1), object(4)
memory usage: 5.4+ KB

In [96]:
from google.colab import files
df.to_csv('munnar.csv')
files.download('munnar.csv')